<div class="container">
  <div class="name top">TONY MANNINO</div>
  <div class="links">
    <span class="link" (click)="onNavigate('https://github.com/immannino');">GITHUB</span>
    <span class="link" (click)="onNavigate('https://linkedin.com/in/manninaj/');">LINKEDIN</span>
    <span class="link" (click)="onNavigate('mailto:anthonyjosephmannino@gmail.com?Subject=Hi%20Tony');">EMAIL</span>
    <span class="link" (click)="onNavigate('https://drive.google.com/file/d/1-FRydrD66aAPr3Z_gBs3dzpKflzuMg1z/view?usp=sharing');">RÉSUMÉ</span>
  </div>
</div>